/* @import url("style.css"); */

@media screen and (max-width:600px){
    /* @media (max-height: 700px) and (min-width: 700px), (max-width: 360px) */
    /* ******************** common ******************** */
    body{
        font-size: var(--fz-lg);
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* gap: 5rem; */
    }
    #logo{
        left: 2vw;
    }
    #navbar {
        left: calc(2.5vw + var(--icon-size));
    }
    /* ******************** Social-Media/Navigation ******************** */
    .social-media{
        z-index: 100;
        left: 1vw;
        bottom: 1vh;
    }
    .navigation{
        z-index: 100;
        right: 1vw;
        top: 1vh;
    }
    .sicon,.nicon,.sicon:hover,.nicon:hover,.active{
        width: 2em;
        height: 2em;
        margin: 0.25em 0em 0.25em 0em;
        color: var(--lightest-slate);
    }
    .sicon i,.nicon i{
        color: var(--sicon);
        font-size: 1.2em;
    }
    .sicon span,.nicon span,.sicon:hover span,.nicon:hover span{
        display: none;
    }
    .sicon:hover,.nicon:hover,.active{
        justify-content: center;
    }
    .sicon:hover i,.nicon:hover i{
        font-size: 1.2em;
    }
    .active i{
        color: var(--light-slate);
        font-size: 1.2em;
    }
    .active{
        background-color: var(--active-nicon);
        transition: var(--transition);
    }
    .home:hover,.about:hover,.worked:hover,.projects:hover,.contact:hover{
        background-color: var(--nicontemp);
    }
    .facebook{
        background-color: var(--facebook);
    }
    .linkedin{
        background-color: var(--linkedin);
    }
    .github{
        background-color: var(--github);
    }
    .instagram{
        background-color: var(--instagram);
    }
    .twitter{
        background-color: var(--twitter);
    }
    .github i{
        font-size: 1.8em;
    }
    .instagram i{
        font-size: 1.5em;
    }


    /* ******************** Sections Common ******************** */

    section{
        width: 100vw;
        height: 100vh;
    }
    .home-container{
        /* border: var(--border-blue); */
        min-height: 100vh;
        position: relative;
        align-items: center;
    }
    .header-info,.home-image{
        position: absolute;
    }
    #worked,#home,#about,#projects,#contact,#footer{
        align-items: center;
    }
    .home-container,.about-container,.experience-container,.project-container,.contact-container{
        width: 80%;
        margin: 5vh 0 5vh 0;
    }
    .about-container,.experience-container,.project-container,.contact-container{
        height: auto;
    }
    
    /* ******************** Home Section ******************** */

    .header-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .home-image{
        width: calc(2.5em*4);
        height: calc(3em*4);
        transform: translate(20vw, 0vh);
    }
    .home-image img{
        width: 100%;
        height: 100%;
    }
    .greeting h1{
        text-align: center;
        font-size: var(--fz-md);
    }
    .full-name h2{
        text-align: center;
        letter-spacing: 0.1em;
        /* font-size: 10vw; */
        font-size: clamp(2em, 10vw, 5em);
        line-height: 1.3;
    }
    .tag-line{
        margin: 0.7em 0em 0.7em 0em;
        transform: translateX(-60%);
        /* text-align: center; */
        width: 30vw;
        height: 35vh;
    }
    .tag-line h3,.tag-line h4{
        font-size: clamp(2rem, 8vw, 5rem);
        /* font-size: 2.2rem; */
        line-height: calc(35vh/4);
    }
    .description{
        width: 100%;
    }
    .description p{
        text-align: center;
    }
    /* ******************** About Section ******************** */

    #about{
        justify-content: flex-start;
        height: auto;
    }
    .about-container{
        flex-direction: column;
        gap: 1em;
    }
    .about-image{
        width: 70%;
    }
    .about-image img{
        width: 100%;
    }
    .about-text{
        width: 100%;
        height: 100%;
        padding: 0;
        gap: 1em;
    }
    .only-text{
        width: 100%;
    }
    .only-text p{
        font-size: 1em;
        line-height: 1.3;
    }
    .only-text my-span{
        font-size: 0.8em;
    }
    .about-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .about-details span{
        position: relative;
        width: 100%;
        height: fit-content;
        color: var(--lightest-slate);
        border: none;
        border: 1px solid var(--green);
    }
    .education,.skill,.experience{
        left: 50%;
        transform: translateX(-50%);
    }
    span h4{
        padding: 0.3em 0em;
        font-size: 1em;
    }
    .edu-details,.skill-details,.exp-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
    }
    .box{
        width: 100%;
        margin: 0em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
    .skill-details h1,.skill-details h2,.skill-details h3,.edu-details h1,.edu-details h2,.edu-details h3,.exp-details h1,.exp-details h2,.exp-details h3{
        text-align: center;
        letter-spacing: 1px;
    }
    .skill-details h1,.skill-details h2,.skill-details h3{
        width: 35%;
    }
    .edu-details h1,.exp-details h1{
        width: 25%;
    }
    .skill h1,.experience h1,.education h1{
        font-size: 0.65em;
    }
    .skill h2,.experience h2,.education h2{
        font-size: 0.65em;
    }
    .skill h3,.experience h3,.education h3{
        font-size: 0.65em;
    }
    .edu-details my-span,.skill-details my-span,.exp-details my-span{
        font-size: 1em;
        font-weight: 400;
    }
    .edu-details h2,.exp-details h2,.edu-details h3,.exp-details h3{
        width: 37%;
    }
    .box:not(:last-child){
        margin: 0.2em 0em;
    }
    
    section:not(:last-child){
        margin-bottom: var(--mobile-section-margin);
    }

    /* ******************** Experience Section ******************** */

    #worked{
        justify-content: flex-start;
        height: auto;
    }
    .experience-container{
        gap: 0em;
        text-align: center;
    }
    .experience-container h1{
        width: 100%;
        font-size: clamp(26px, 7vw, 80px);
        letter-spacing: 0em;
        margin: 0em 0em;
    }
    .experience-container h1::before{
        width: 0;
    }
    .experience-details{
        width: 100%;
        flex-direction: column;
        padding: 1em 0em;
        gap: 1em;
    }
    .company-names{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        gap: 0em;
    }
    .company-details{
        width: 100%;
    }
    .company{
        width: fit-content;
        padding: 0em 0.25em 0em 0.25em;
        border-left: none;
        border-top: none;
        border-bottom: 0.1em solid var(--lightest-navy);
        border-radius: 0em 0em 1.5em 1.5em;
        /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    }
    .company span{
        font-size: var(--fz-xs);
    }
    .company:hover,.active-company{
        background-color: var(--bgcolour);
    }
    .active-company{
        border-bottom: 0.1em solid var(--green);
    }
    .work-details{
        padding-left: 0em;
    }
    .work-details h2,.work-details h2 span,.work-details h3{
        font-size: 1em;
    }
    .work-details h3,.work-details h3 span{
        font-size: 0.8em;
        margin: 1em 0em 0.5em 0em;
    }
    .work-details h4{
        font-size: 0.6em;
        margin: 0em 0em 2em 0em;
    }
    .work-details ul li{
        padding-left: 1em;
        font-size: 0.75em;
        line-height: 1.3;
    }
    .work-details ul li::before {
        left: 0.25em;
    }

    .experience-image{
        display: block;
        width: 100%;
        display: flex;
    }
    .experience-image img{
        width: 80%;
    }
    /* ******************** Projects Section ******************** */

    
    
    #projects{
        align-items: center;
    }
    .project-container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .projects-heading{
        text-align: center;
        width: 100%;
        margin: 0em 0em 0.75em 0em;
        display: block;
    }
    .grid-container{
        width: 90%;
        grid-template-columns: auto;
    }
    .grid-item{
        /* width: 100%; */
        width: calc(3*(100vw/4));
        height: calc(2.5*(100vw/4));
        padding: 6vw;
    }
    .grid-item span{
        font-size: 1em;
    }
    .grid-item:hover span{
        font-size: 2em;
    }
    .project-title h1{
        text-align: center;
        font-size: 1em;
    }
    .project-desc p{
        font-size: 0.75em;
        text-align: center;
    }
    .project-tech-list ul li{
        font-size: 0.8em;
    }
    /* ******************** Contact Section ******************** */

    #contact{
        height: auto;
        justify-content: flex-start;
    }
    .contact-container{
        flex-direction: column;
    }
    .primary-contacts h1{
        font-size: clamp(40px, 8vw, 80px);
    }
    .write-me-form{
        width: 100%;
        height: 100%;
        padding: 0.5em;
    }
    .write-me-form h2{
        font-size: clamp(30px, 8vw, 80px);
    }
    .write-me-form p{
        font-size: clamp(var(--fz-sm), 6vw ,var(--fz-md));
    }
    #message{
        font-size: clamp(var(--fz-sm), 8vw ,var(--fz-md));
        text-align: center;
    }
    /* ******************** Copyright Section ******************** */

    #footer{
        justify-content: flex-start;
        /* margin-top: calc(-1*var(--mobile-section-margin)); */
        height: auto;
    }
    .copyright{
        width: 80%;
        padding: 1em;
        gap: 0.5em;
    }
    .copyright p{
        width: 40%;
        text-align: center;
        font-size: 0.5em;
        letter-spacing: 0.1em;
    }

}
@media screen and (max-width:330px){
    .social-media,.navigation{
        font-size: var(--fz-xs);
    }
    .home-container,.about-container,.experience-container,.project-container,.contact-container{
        width: 90%;
    }
    
    .grid-item{
        padding: 4vw;
    }
    .grid-item:hover span{
        font-size: 1.5em;
    }
    .project-title h1{
        font-size: 0.8em;
    }
    .project-desc p{
        font-size: 0.7em;
    }
    .project-tech-list ul li{
        font-size: 0.7em;
    }
    .primary-contacts p:nth-child(2){
        font-size: var(--fz-sm);
    }
    .primary-contacts p i,.address p i{
        font-size: var(--fz-sm);
    }
    .primary-contacts p span,.address p span{
        font-size: var(--fz-sm);
    }
    .write-me-form h2{
        font-size: clamp(20px, 10vw, 60px);
    }
    .write-me-form p{
        font-size: var(--fz-sm);
    }
    #message{
        font-size: clamp(var(--fz-xs), 8vw ,var(--fz-md));
    }
}

@media screen and (max-height: 690px) {
    .header-info{
        /* border: var(--border-red); */
        height: 100%;
    }
    .description p,.description span{
        font-size: var(--fz-md);
    }
}

@media (min-width:450px) and (max-width:600px) {
    /* *{
        font-size: 18px;
    } */
    .home-image{
        /* border: var(--border-green); */
        /* width: 50vw;
        height: calc(3.5rem*4);*/
        transform: translate(20vw, 3vh); 
    }
    .tag-line{
        /* text-align: center; */
        /* border: var(--border-blue); */
        /* width: 45vw;
        height: 35vh; */
    }
    .tag-line h3,.tag-line h4{
        /* font-size: clamp(2.5rem, 8vw, 5rem);; */
        /* font-size: 3rem; */
        /* line-height: calc(35vh/4); */
    }
}