:root{

    --facebook: #1877f2;
    --linkedin: #0a66c2;
    --github: #171515;
    --instagram: #c32aa3;
    --twitter: #1da1f2;

    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    /* My colours */
    --mygreen: #CCF381;
    --Coral: #F96167;
    --mustard: #FCE77D;
    --yellow: #F9D342;
    --Charcoal: #292826;
    --pink: #DF678C;
    --red: #D2302C;
    --mint: #8BD8BD;
    --sky-blue: #8AAAE5;
    --teal: #358597;
    --purple: #E2D1F9;
    --Turquoise: #44E3FF;
    --springteal: #0EA7A5; 
    --flagsaffron: #FF9933;
    --flagwhite: #ffffff;
    --flaggreen: #138808;
    --flagchakra: #000080;
    --flaggradient: linear-gradient(var(--flagsaffron), var(--flagsaffron), var(--flagwhite), var(--flagchakra), var(--flagwhite), var(--flaggreen), var(--flaggreen));


    --bgcolour: var(--Dark-Gunmetal);
--temp: #63B7B7;
    --brightrose: #EA37A3;
    --pictonblue: #2BBEF2;
    --royalpurple: #6B4EE6;
    --Dark-Gunmetal: #201932;
    --mirage-light: #362f46;
    --Eerie-Black: #1A1428;

    --jungle-green: #1D9978;
--nicontemp: #CF1B24;
    --logo-color-14: var(--green);
    --logo-color-23: var(--green);
    --sicon: var(--light-slate);
    --nicon: var(--light-slate);
    --active-nicon: var(--jungle-green);
    --scroll-barwidth: 17px;
    --scroll-bar-color: var(--slate);

    
    --ff-merriweather: 'Merriweather Sans', sans-serif;
    --ff-nunito: 'Nunito', sans-serif;
    --ff-orbitron: 'Orbitron', sans-serif;
    --ff-quattrocento: 'Quattrocento Sans', sans-serif;
    --ff-roboto: 'Roboto Mono', monospace;
    --ff-eczar: 'Eczar', serif;

    --border-green: 2px solid green;
    --border-red: 2px solid red;
    --border-blue: 2px solid blue;
}

.full-details{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.about-details-1,.about-details-2,.about-details-3{
    position: absolute;
    z-index: 100;
    width: 20%;
    /* height: 50%; */
    text-align: center;
    background-color: red;
    border: 10px solid green;
    transition: all 1s ease-in-out;

}
h4{
    font-size: 2rem;
}
.about-details-1{
    left: 0rem;
}
.about-details-3{
    right: 0rem;
}
.about-details-2{
    left: 50%;
    transform: translateX(-50%);
}
.about-details-1:hover,.about-details-2:hover,.about-details-3:hover{
    width: 98%;
    height: 10rem;
    z-index: 110;
}
.about-details-1:hover{
    z-index: 110;
}


